.containerForm {
    --form-color: rgb(0, 100, 255);
    --form-field-background: rgb(255, 255, 255);

    .form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 15px;
        padding: 10px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }

    .containerDateTimePicker {
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        align-items: center;
        width: 100%;
        border: solid 1px rgb(138, 43, 226);
        padding: 5px;
        border-radius: 5px;
        z-index: 1;

        .labelDateTimePicker {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .fieldsetRadio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        border: solid 1px rgb(138, 43, 226);
        padding: 1rem;
        border-radius: 5px;

        .legend {
            font-size: xx-small;
        }
    }

    .customTitle {
        display: block;
    }

    .containerButton {
        z-index: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        button {
            margin: 15px 0;
            width: 80%;
            height: 50px;
            font-size: 18px;
            line-height: 50px;
            font-weight: 600;
            color: var(--form-button-color);
            border-radius: 25px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; // Dodano transition do box-shadow
            background-image: linear-gradient(to right, var(--form-button-background-first), var(--form-button-background-second));
            position: relative;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Cień domyślny
        }

        button:not(:disabled):focus,
        button:not(:disabled):hover {
            background-image: linear-gradient(to left, var(--form-button-background-first), var(--form-button-background-second));
            transform: scale(1.01);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); // Cień przy najechaniu
        }

        button:not(:disabled):active {
            transform: scale(0.98);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Przywrócenie cienia
        }

        button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

//media
@media print {

    //Ukrywamy element
    .containerForm {
        display: none;
    }
}