.containerListOfDays {
    --color-bottom-border: rgb(7, 7, 7);

    width: 90%;
    display: flex;
    flex-flow: column wrap;
    font-size: 14px;
    color: var(--color-text);
    margin: 0 auto;

    .itemListOfDays {
        display: grid;
        max-width: calc(100vw);
        grid-template-columns: 15% 30% 20% 35%;
        list-style: none;
        align-items: center;
        border-bottom: 1px solid var(--color-bottom-border);

        &.header {
            align-items: flex-end;
            font-weight: bold;
            border-bottom: 2px solid var(--color-bottom-border);
        }
    }

    .containerIcon {
        position: relative;
        width: 32px;
        height: 32px;
        display: flex;

        .icon {
            width: 32px;
            height: 32px;
        }

        .iconDayOfAgreement {
            color: var(--day-of-agreement-icon-color);
        }

        .iconDayBeforePunish {
            color: var(--day-before-punish-icon-color);
        }

        .iconDayOfPunish {
            color: var(--day-of-punish-icon-color);
        }

        .iconRegularDay,
        .iconNonWorkingDay {
            color: inherit;
        }

        .textOverlay {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* Wycentrowanie tekstu w środku ikony */
            font-size: 10px;
            font-weight: bold;
        }
    }
}

@media print {

    //Drukowane elementy
    .containerListOfDays {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    //Stopka 
    @page {
        margin: 1cm;
    }

    body::after {
        content: "3K.nexgen@gmail.com";
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: start;
        font-size: 12px;
        color: #555;
    }
}