.button-universal-container {
  --background-color: rgb(255, 255, 255);
  --background-hover-color: rgb(255, 0, 0);
  --text-color: rgb(0, 0, 255);
  --text-color-disabled: rgb(102, 102, 102);
  --background-color-disabled: rgb(204, 204, 204);
  --button-width: 150px;
  --icon-container-width: 40px;
  --icon-container-translate-x: calc(var(--button-width) - var(--icon-container-width));

  width: var(--button-width);
  height: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: var(--background-color);
  transition: all .500s cubic-bezier(.4, 0, .2, 1);
  position: relative;

  .text,
  .icon-container {
    transition: all .500s cubic-bezier(.4, 0, .2, 1);
  }

  &:hover:not(:disabled) {
    background: var(--background-hover-color);
  }

  &:hover:not(:disabled) .text {
    color: transparent;
  }

  &:hover:not(:disabled) .icon-container {
    width: var(--button-width);
    border-left: none;
    transform: translateX(0);
  }

  &:focus {
    outline: none;
  }

  &:active:not(:disabled) {
    transition: 50ms linear;
    transform: scale(0.9);
  }

  &:disabled {
    background-color: var(--background-color-disabled);
    cursor: not-allowed;
    color: var(--text-color-disabled);
  }

  .text {
    color: var(--text-color);
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
  }

  .icon-container {
    position: absolute;
    transform: translateX(var(--icon-container-translate-x));
    width: var(--icon-container-width);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-container>svg {
    font-size: 24px;
    color: var(--text-color);
  }
}