.linksImgContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  width: 100%;
  margin-inline: auto;
}

.linksImgContainer[data-columns="2"] {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.linksImgContainer[data-columns="3"] {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.linksImgContainer[data-columns="4"] {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.link {
  position: relative;
  display: flex;
  flex-direction: column;

  text-decoration: none;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
  overflow: hidden;
  container-type: inline-size;

  .img {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    overflow: hidden;
  }

  .overlayContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    inset: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 500ms ease-in-out;
    color: var(--color-text);
    background-color: var(--color-background);
  }

  &:hover,
  &:focus-visible {
    .overlayContainer {
      transform: translateY(0);
    }
  }

  .overlayTitle {
    font-size: clamp(1rem, 8cqi, 2rem);
    line-height: 1.2;
  }

  .overlayText {
    font-size: clamp(0.7rem, 7cqi, 1rem);
    line-height: 1.4;
  }
}

@media (max-width: 40rem) {
  .linksImgContainer[data-columns] {
    grid-template-columns: 1fr;
  }
}