.footer {
    --footer-address-color: rgb(86, 194, 227);
    --footer-address-color-hover: rgb(106, 214, 247);
    --color-focus: var(--color-focus-on-dark);

    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--color-header-text);
    background: var(--color-header-background);
    border-top: 2px solid var(--color-header-border);
    padding: 15px 10px;
    box-shadow: inset 0px 2px 1px -1px rgba(255, 255, 255, 0.2),
        0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 1px 3px 0px rgba(255, 253, 253, 0.12);

}

.footerContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerLogo {
    display: flex;
    flex-flow: column nowrap;
    width: 32px;
    align-items: center;
}

.footerAddress {
    color: var(--footer-address-color);
    transition: color .75s cubic-bezier(.4, 0, .2, 1);
    text-decoration: none;

    &:hover {
        color: var(--footer-address-color-hover);
    }
}

.footerCopyrightText {
    margin: 0;
}

.footerLibraries {
    padding: 0;
    color: var(--color-header-text);
    background: transparent;
    border-color: transparent;
    border-radius: var(--radius-small);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transition: color .75s cubic-bezier(.4, 0, .2, 1);

    &:hover {
        color: var(--footer-address-color-hover);
    }
}

@media (max-width: 40rem) {
    .footer {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media (max-width: 30rem) {
    .footer {
        flex-direction: column;
    }
}

//media
@media print {

    // Ukrywamy elementy 
    .footer {
        display: none;
    }
}
